.header, .hero , .body, .bar, .footer{
    background-color: teal;
    margin-bottom: 10px;
}
.box {
    margin: 10px 0;
    min-height: 80px;
    background-color: red;
    border: 1px solid green;
    color: white;
    font-size: 30px;
}
.red {
    background-color: lime;
}
.five {
    background-color: blue;
}